ALPACA_API_KEY=PKC2V7MGHZMH2JBU2CALFTXQQT
ALPACA_SECRET_KEY=A7f6zPUD5CTLpJVV6bMTBTecjuKtNSGoDre75ztosZrw
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
USE_ALPACA=false

CAPITAL=100000
LOOKBACK=20
ENTRY_Z=1.5
EXIT_Z=0.5
MAX_POSITION=0.05
